   <!--
   <h1>家計簿</h1>
   -->
 <table>
  <thead>
    <h3>一覧</h3>
   <tr>
    <td>日付</td>
    <td>科目</td>
    <td>金額</td>
    <td>摘要</td>
   
   </tr>
  </thead>
  <tbody>
   <% @days.each do |day| %>
    <tr>
     <td><%= day.date %></td>
     <td><%= day.name %></td>
     <td><%= day.value %></td>
     <td><%= day.detail %></td>
     
     <td><%= link_to '編集', edit_day_path(day) %></td>
     <td><%= link_to '削除', day_path(day), method: :delete %></td>
    </tr>
   <% end %>
   </tbody>
   <tfoot>
    <tr>
         <td colspan="2">合計</td>
         <td><%= Day.all.sum(:value) %></td>
        
    </tr>      
   </tfoot>
 </table>
   <%= link_to '家計登録', new_day_path %>

   <%= form_tag(days_path, :method => "get") do %>
    <%= text_field_tag :search %>
    <!--
    <%= select_tag 'name', options_for_select(
      '給与' =>1,'その他'=>2,'食費'=>3,'消耗品'=>4,'ペット'=>5,'ま'=>6,'き'=>7,
      'ガス'=>8,'電気'=>9,'水道'=>10,'ドコモ'=>11,'NTT'=>12,'生保'=>13,'損保'=>14,
      '仕事関係'=>15,'教養娯楽'=>16,'交際'=>17,'衣料'=>18,'医療'=>19,'車関係'=>20,'税金'=>21,'雑費'=>22,'特別'=>23) %>
    -->

    <%= submit_tag "Search" ,class: "button is-info"%> 
   <% end %> 
   
   <% @days.each do |day| %>
    <% end %> 

    <%= link_to '戻る', days_path %>