   
   <h1>家計簿</h1>
   
 <table>
  <thead>
    <h3>一覧</h3>
   <tr>
    <td>日付</td>
    <td>科目</td>
    <td>金額</td>
    <td>摘要</td>
   
   </tr>
  </thead>
  <tbody>
   <% @days.each do |day| %>
    <tr>
     <td><%= day.date %></td>
     <td><%= day.name %></td>
     <td><%= day.value %></td>
     <td><%= day.detail %></td>
     
     <td><%= link_to '編集', edit_day_path(day) %></td>
     <td><%= link_to '削除', day_path(day), method: :delete %></td>
    </tr>
   <% end %>
   </tbody>
   
 </table>
   <%= link_to '家計登録', new_day_path %>
   <%= link_to '科目検索', search_days_path %>
    