<h2>集計表</h2>
<%= form_tag("/days/mtotal",method: "get") do %>
<%= label_tag(:year_month,"年月") %>
<%= number_field_tag(:year_month) %>
 <%= submit_tag("検索") %>
 <% end %>
 
 
 <% @days.each do |day| %>
 
    <%= day.name %>
    <%= day.year_month %></br>
    
 
 <% end %>


<%= link_to '一覧に戻る', days_path %>