<header>
<h2 class="kakeitouroku">月間集計表</h2>
</header>
<tr>
    <td><%= link_to '＜家計一覧へ＞', days_path %></td>
    <td ><%= link_to '＜家計登録へ＞', new_day_path %></td>
   <!--一度で検索できるようにする-->
    <td><%= link_to "＜科目検索へ＞", search_days_path, data: {"turbolinks" => false} %></td>
  <!--<td><%= link_to "＜月間集計表へ＞", mtotal_days_path, data: {"turbolinks" => false} %></td>-->
    <td><%= link_to "＜年間集計表へ＞", ytotal_days_path, data: {"turbolinks" => false} %></td>
</tr>


<table>
<%= form_tag("/days/mtotal",method: "get") do %>
   
 <div> <select name="year">
  <option value="">選択してください</option>
  <option value="2019">2019</option>
  <option value="2020">2020</option>
  <option value="2021">2021</option>
  <option value="2022">2022</option>
　</select>

<%= label_tag(:year,"年") %></div>

 <div> <select name="month">
  <option value="">選択してください</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
  </select>
<%= label_tag(:month,"月") %></div>

<%= submit_tag("検索") %>
<% end %>
</table>
<table>

</table>

 
<table class="kensaku"border="1">
 <tr>
  <th colspan="2"><%= "#{params[:year]}" %>年
  <%= "#{params[:month]}" %>月</th>
 </tr>

<% @days_total.sort %>
<% @days_total.each do |day_total| %>
  <tr>
  <td><%= day_total[0] %></td>
  <td><%= day_total[1] %></td>
  
    <% end %>
  </tr>
  <td colspan="2">合計<%= @days_sum %></td>
</table>
 
 <!--
 <% @days_total.each do |k,v|%>
  <%= "#{k} = #{v}" %>
 <% end %>
 <%= @days.name%>
 <% @days.each do |day| %>
   <%= @days_total %>
   <% end %>
 -->
 
 
