<h1>家計登録</h1>
<%= form_for(@day) do |f| %>
    <div><%= f.label :日付 %></div>
    <div><%= f.date_field :date %></div>
    <div><%= f.label :科目 %></div>
    <div><%= f.select :name, [
        '給与','その他','食費','消耗品','ペット','ま','き',
        'ガス','電気','水道','ドコモ','NTT','生保','損保',
        '仕事関係','教養娯楽','交際','衣料','医療','車関係','税金','雑費','特別'
        ] %></div>
    <div><%= f.label :金額 %></div>
    <div><%= f.number_field :value %></div>
    <div><%= f.label :詳細 %></div>
    <div><%= f.text_field :detail %></div>
    

    <dib><%= f.submit '家計登録' %></div>
    <% end %>
    <%= link_to '戻る', days_path %>