<h2>科目検索</h2>
<table>
<%= form_with(scope: :search, url:search_days_path, method: :get, local: true) do |f| %>
    <%= f.label :year_month, "年月"%>
    <%= f.number_field :year_month, value: @search_params[:year_month] %>
    <%= f.label :name, "科目" %>
    <%= f.text_field :name, value: @search_params[:name] %>
<%= submit_tag '検索', class: "button" %>
<% end %>

<% unless @search_params.blank? %>
 
 <% @days.each do |day| %>  
    <tr>
     <td><%= day.year_month %></td>
     <td><%= day.name %></td>
     <td><%= day.value %></td>
     <td><%= day.detail %></td>
    </tr>
 <% end %>
 <% end %>
</table>
<%= will_paginate @days,
 previous_label: '＜前ページ',next_label: '次ページ＞' %>

 <%= link_to '一覧に戻る', days_path %>