<header>
<h2 class="kakeitouroku">年間集計表</h2>
</header>

<table>
 <%= form_tag("/days/ytotal",method: "get") do %>
    <select name="year">
    <option value="">選択してください</option>
    <option value="2019">2019</option>
    <option value="2020">2020</option>
    <option value="2021">2021</option>
    <option value="2022">2022</option>
    </select>
  <%= label_tag(:year,"年") %>

  <%= submit_tag("検索") %>
 <% end %>
</table>

　<table class="kensaku"border="1">
   <tr>
    <td><%= "#{params[:year]}" %>年</td>
   </tr>
 　　<% @days_total.each do |day_total| %>
　<tr>
   <td><%= day_total %></td>
    <% end %>
　</tr>
  　<td>合計<%= @days_sum%></td>
</table>

<table>
 <%= link_to '一覧に戻る', days_path %>
</table>