<header>
<h2 class="kakeitouroku">年間集計表</h2>
</header>
<table>
<tr>
    <td><%= link_to '＜家計一覧へ＞', days_path %></td>
    <td ><%= link_to '＜家計登録へ＞', new_day_path %></td>
   <!--一度で検索できるようにする-->
    <td><%= link_to "＜科目検索へ＞", search_days_path, data: {"turbolinks" => false} %></td>
    <td><%= link_to "＜月間集計表へ＞", mtotal_days_path, data: {"turbolinks" => false} %></td>
 <!--<td><%= link_to "＜年間集計表へ＞", ytotal_days_path, data: {"turbolinks" => false} %></td>-->
</tr>
</table>
<table>
 <%= form_tag("/days/ytotal",method: "get") do %>
    <select name="year">
    <option value="">選択してください</option>
    <option value="2019">2019</option>
    <option value="2020">2020</option>
    <option value="2021">2021</option>
    <option value="2022">2022</option>
    </select>
  <%= label_tag(:year,"年") %>

  <%= submit_tag("検索") %>
 <% end %>
</table>
<table>

</table>

　<table class="kensaku"border="1">
   <tr>
    <td colspan="2"><%= "#{params[:year]}" %>年</td>
   </tr>
 　　<% @days_total.each do |day_total| %>
　<tr>
   <td><%= day_total[0] %></td>
   <td><%= day_total[1] %></td>
    <% end %>
　</tr>
  　<td colspan="2">合計<%= @days_sum%></td>
</table>

